<html>
<head>
    <script src="/static/app.js" language="JavaScript"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python Lab5</title>
</head>
<body>
<main>
    <h3>Choose your level</h3>
    <a href="/game/9">
        <img class="level_img" src="/static/img/wifi-low-signal-with-one-bar.png"/>
    </a>
    <a href="/game/49">
        <img class="level_img" src="/static/img/medium-wifi-signal-with-two-bars.png"/>
    </a>
    <a href="/game/99">
        <img class="level_img" src="/static/img/full-wireless.png"/>
    </a>
</main>
<footer>
    <div class="authors">
        <p>Authors: </p>
        <div>Ефимов Дмитрий</div>
        <div>Иванько Олег</div>
        <div>Райла Мартин</div>
    </div>
    <div class="group">
        <div id="group_num">P3411</div>
    </div>
</footer>
</body>
</html>