html, body {
    text-align: center;
    /* padding-top: 40px; */
    height: 100%;
    width: 100%;
}

body {
    background: #0db1ff;
    height: 100%;
    width: 100%;
    /* margin: 0 auto; */
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

main {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 300px;
    font-size: 35px;
    width: 100%;
    display: inherit;
}

.group {
    text-align: left;
    padding-left: 40px;
}

.level_img {
    margin: 24px;
    width: 70px;
    height: 70px;
}

#group_num {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.authors {
    grid-column: 2;
    text-align: end;
    border-right: 4px white solid;
    padding-right: 20px;
    padding: 10px 0 10px 0;
    padding-right: 40px;
    /* margin-top: 31px; */
    padding-top: 95px;
}

footer {
    bottom: 0;
    position: absolute;
    background: black;
    color: white;
    width: 100%;
    display: grid;
    height: 300px;
    grid-template-columns: 20% 30% 30% 20%;
    /* padding: 10px 0 10px 0; */
    font-size: 35px;
}

.ml11 {
    font-weight: 900;
    font-size: 3.5em;
}

#guessform { /* width: 300px; */
    display: flex;
    margin: 0 auto;
    align-items: safe;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}

#snackbar {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    height: 18px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    z-index: 1;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

img {
    width: 140px;
    height: 140px;
}

.someElement {
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@media all and (max-width: 1024px) {
    footer {
        grid-template-columns: unset;
        grid-template-rows: 50% 50%;
    }

    .authors {

        grid-column: unset;

        padding: 0;

        text-align: center;

        padding-top: 46px;

        border-right: unset;

        padding-top: 22px;

        border-bottom: 2px white solid;

    }

    .group {

        grid-column: unset;

        padding: 0;

        text-align: center;
    }
}